.episode-row.clearfix
  .episode
    .number 1
    = image_tag "episodes/ch1.png", :width => "320", :height => "179", :alt => "Chapter One"
    %h5 fireworks

  .episode
    .number 2
    = image_tag "episodes/ch2.png", :width => "320", :height => "179", :alt => "Chapter Two"
    %h5 manzil &#40;the journey&#41;

  .episode.no-right-margin
    .number 3
    = image_tag "episodes/ch3.png", :width => "320", :height => "179", :alt => "Chapter Three"
    %h5 ashok

.episode-row.clearfix
  .episode
    .number 4
    = image_tag "episodes/ch4.png", :width => "320", :height => "179", :alt => "Chapter Four"
    %h5 the stories farmers tell

  .episode
    .number 5
    = image_tag "episodes/ch5.png", :width => "320", :height => "179", :alt => "Chapter Five"
    %h5 the astronaut

  .episode.no-right-margin
    .number 6
    = image_tag "episodes/ch6.png", :width => "320", :height => "179", :alt => "Chapter Six"
    %h5 the headmaster &#40;part 1&#41;

.episode-row.clearfix
  .episode
    .number 7
    = image_tag "episodes/ch7.png", :width => "320", :height => "179", :alt => "Chapter Seven"
    %h5 the headmaster &#40;part 2&#41;

  .episode
    .number 8
    = image_tag "episodes/ch8.png", :width => "320", :height => "179", :alt => "Chapter Eight"
    %h5 Boxers of chalkari

  .episode.no-right-margin
    .number 9
    = image_tag "episodes/ch9.png", :width => "320", :height => "179", :alt => "Chapter Nine"
    %h5 the girls of rotas hills

.episode-row.clearfix
  .episode
    .number 10
    = image_tag "episodes/ch10.png", :width => "320", :height => "179", :alt => "Chapter Ten"
    %h5 the journalists

  .episode
    .number 11
    = image_tag "episodes/ch11.png", :width => "320", :height => "179", :alt => "Chapter Eleven"
    %h5 rice and water

  .episode.no-right-margin
    .number 12
    = image_tag "episodes/ch12.png", :width => "320", :height => "179", :alt => "Chapter Twelve"
    %h5 open cities

.episode-row.clearfix
  .episode
    .number 13
    = image_tag "episodes/ch13.png", :width => "320", :height => "179", :alt => "Chapter Thirteen"
    %h5 honey bees

  .episode
    .number 14
    = image_tag "episodes/ch14.png", :width => "320", :height => "179", :alt => "Chapter Fourteen"
    %h5 the boy with the telescope

  .episode.no-right-margin
    .number 15
    = image_tag "episodes/ch15.png", :width => "320", :height => "179", :alt => "Chapter Fifteen"
    %h5 the beginning
